<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolas.firstandroidproject">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FindCDActivity">
            <intent-filter>
                <action android:name="android.intent.action.FIND_CD" />
            </intent-filter>
        </activity>

        <activity android:name=".AddCDActivity">
            <intent-filter>
                <action android:name="android.intent.action.ADD_CD" />
            </intent-filter>
        </activity>

        <activity android:name=".AddCdFillInActivity">
            <intent-filter>
                <action android:name="android.intent.action.ADD_CD_FILL_IN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <service android:name=".CDImageAnalysisService">
            <intent-filter>
                <action android:name="com.example.nicolas.firstandroidproject."></action>
            </intent-filter>
        </service>

        <service android:name=".DiscogsSearchService">


        </service>

        <activity android:name=".MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.FACTORY_TEST"></action>
            </intent-filter>
        </activity>

        <activity android:name=".AddCdToDatabaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.ADD_CD_TO_DATABASE"></action>
            </intent-filter>
        </activity>

        <activity android:name=".CdListActivity">

        </activity>
        <activity android:name=".CdInformationActivity">

        </activity>

    </application>

</manifest>